/**
 *
 * Background Images (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-07-04
 *
 */


@import '../../stile/sass/basic/layout';


.st-background-image,
.st-background-image-strip,
.st-background-image-slides,
.st-background-image-picture {
	@include layout-fill-self;
}

.st-background-image-slides {
	margin : 0;
	padding: 0;

	width : 100%;
	height: 100%;

	list-style: none;
	overflow  : hidden;

	> li {
		position: absolute;
		top     : 0;
		width   : 100%;
		height  : 100%;

		overflow           : hidden;
		backface-visibility: hidden;
	}
}

.st-background-image-picture {
	background-size    : cover;
	background-repeat  : no-repeat;
	background-position: center center;
	transition         : transform 10s;
}

.st-background-image-video {
	position: relative;
	height  : 100%;

	video {
		position  : absolute;
		width     : auto;
		height    : auto;
		max-width : initial;
		max-height: initial;
	}
	.width {
		width    : 100%;
		top      : 50%;
		transform: translateY(-50%);
	}
	.height {
		height   : 100%;
		left     : 50%;
		transform: translateX(-50%);
	}
}
