/**
 *
 * Stomp Sample (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-07-19
 *
 */

@charset 'utf-8';

$slide-show-size-width: 48rem;

@import '../node_modules/stile/dist/sass/all';
@import '../dist/background-image/background-image';
@import '../dist/slide-show/slide-show';


:root {
	font-size: 14px;
	@include font-responsive-size-interval(600px, 900px, 14px, 16px);
	@include font-responsive-size-interval(900px, 1800px, 16px, 20px);
	@include for-big-desktop-up { font-size: 20px; }
}

body {
	@include font-family;
	@include font-smoothing;
	@include font-visible-chrome;

	padding-top: 6rem;
	padding-bottom: 6rem;
	overflow-x: hidden;
}

.stile {
	@include layout-side-margin(48rem, 1rem);
	@include for-tablet-up { @include layout-side-margin(48rem, 2rem); }

	@include stile-content;
	@include stile-option(true);
	color: hsla(0, 0, 0, 0.75);
}

.frame-background-image {
	@include layout-aspect(3, 1);
	width: 100%;
}

.frame-background-image-front {
	@include layout-fill-self;
	overflow-y: auto;
	color: #fff;

	pre {
		@include layout-fill-self;
		background-color: transparent;
	}
}

.st-slide-show {
	@include layout-full-width;
}